*{
    padding: 0;margin: 0;box-sizing: border-box;
}
body{
    overflow-x: hidden;
}
h1{
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}
.carousel-item,img{
    width: 100%;
    height: 80vh;

}
.card-body img{
    width:70%;
    

}
.card-body:hover{
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.navbar {
    /* z-index: 999; */
-webkit-backdrop-filter: blur(30px);
backdrop-filter: blur(5px);
background-color:rgba(255, 255, 255, 0);
}
/* .navbar,ul{
    font-weight: 700;
} */
body {
    box-sizing: border-box;
    padding: 0;
    margin:0;
    background-color: white;
    height: 100vh;
  }
  
  .cursor {
    pointer-events: none;
    position: fixed;
    display: block;
    border-radius: 0;
    mix-blend-mode: difference;
    top: 0;
    left: 0;
    z-index: 9999999999999999;  
  }
  
  .circle {
      position: absolute;
      display: block;
      width: 26px;
      height: 26px;
      border-radius: 20px;
      background-color: #fff;
  }
  .cont{
    background: -moz-linear-gradient(#e60046,#999da9);

  }
  

  /* Styling for Pop-up */
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 90%;
    text-align: center;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
}

/* Styling for Form Elements */
#signup-form {
    margin-top: 20px;
}

input[type=text], input[type=email] {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.signup-button {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.signup-button:hover {
    background-color: #45a049;
}

.subscription-benefits {
    margin-top: 20px;
    color: #666;
}


